@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --font-used: 'Open Sans', sans-serif;
    --neutral-black-222: #222222;
    --neutral-black-111: #111111;
    --neutral-white-FFF: #FFFFFF;
}

body {
    font-family: var(--font-used);
    color: var(--font-neutral-black);

    background-image: url("/assets/backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
} 

#survey-form {
    margin: 0 25%;
    background-color: rgba(204, 204, 204, 0.7);
}

.form-check-input:checked {
    background-color: var(--neutral-black-222);
}

#name-label, #email-label, #number-label, #chess-rating, #about-us, #suggestions {
    font-size: 1.25rem;
}

#create-tournament, #sign-up {
    border: 1px solid var(--neutral-black-222);
    color: var(--neutral-black-222);
}

#create-tournament:hover, #sign-up:hover {
    background-color: var(--neutral-black-222);
    color: var(--neutral-white-FFF);
}

#submit:active {
    background-color: var(--neutral-black-111);
}